/* Section - Universal Values*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  list-style: none;
  text-decoration: none;
}

:root {
  --bg-color: #020312;
  --text-color: #fff;
  --main-color: #eb4a4a;
  --second-color: gray;
  --other-color: #12141c;
  --h1-font: 83px;
  --h2-font: 56px;
  --p-font: 18px;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}

/* Section - Header*/

header {
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--bg-color);
  padding: 5px 16%;
  border-bottom: 1px solid #0e1630;
  transition: all 0.4s ease;
}

.logo {
  width: 120px;
  height: 75px;
}

.h1_edit {
  width: 100%;
  font-size: 15px;
  margin-top: 25%;
  margin-bottom: -25%;
  letter-spacing: 2px;
}

.navbar {
  display: flex;
}

.navbar a {
  color: var(--second-color);
  font-size: var(--p-font);
  font-weight: 600;
  padding: 10px 25px;
  margin: 0 2px;
  border-radius: 8px;
  transition: all 0.4s ease;
}

#menu-icon {
  font-size: 36px;
  color: var(--text-color);
  z-index: 10001;
  cursor: pointer;
  display: none;
}

.navbar a:hover {
  background: var(--main-color);
  color: var(--text-color);
}

section {
  padding: 160px 16% 90px;
}

/* Section - Home | Presentation */

.home {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.home-text h1 {
  margin: 20px 0;
  font-size: var(--h1-font);
  font-weight: bold;
  padding-top: 5px;
  padding-bottom: 5px;
  letter-spacing: 2px;
}

.home-text h3 {
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 48px;
  text-align: justify;
}

.home-text h4 {
  font-size: 24px;
  font-weight: 600;
  color: var(--main-color);
}

.home img {
  width: 550px;
  height: 550px;
}

.btn {
  padding: 14px 40px;
  border-radius: 8px;
  background: var(--main-color);
  color: var(--text-color);
  border: 1px solid var(--main-color);
  transition: all 0.4s ease;
}

.btn:hover {
  transform: scale(1.01) translateY(-5px);
  background: transparent;
  border: 1px solid var(--main-color);
}

/* Section - About | Personal Information */
.about {
  display: flex;
  align-items: center;
  gap: 126px;
}

.about-img {
  width: 460px;
}

.about-img img {
  height: 380px;
  width: 380px;
  border-radius: 50%;
}

.about-text h2 {
  font-size: var(--h2-font);
}

.about-text h4 {
  margin: 10px 0;
  color: var(--main-color);
  font-size: 20px;
  font-weight: 600;
}

.about-text p {
  color: var(--second-color);
  font-size: var(--p-font);
  margin-bottom: 32px;
  text-align: justify;
}

/* Section - Skills */
.main-text {
  text-align: center;
}

.main-text h2 {
  font-size: var(--h2-font);
  margin-bottom: 10px;
}

.skills-content {
  display: flex;
  align-items: center;
  text-align: center;
  margin-top: 80px;
  gap: 32px;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 45px;
  background: #12141c;
  border-radius: 8px;
  cursor: pointer;
  border-top: 5px solid transparent;
  transition: all 0.4s ease;
}

.box:hover {
  transform: scale(1.01) translateY(-5px);
  border-top: 5px solid var(--main-color);
}

.box h3 {
  font-size: 24px;
  font-weight: 600;
  margin: 40px 0;
  transition: all 0.4s ease;
}

.box:hover h3 {
  color: var(--main-color);
}

.box p {
  color: var(--second-color);
  font-size: var(--p-font);
  line-height: 30px;
  text-align: justify;
}

.box div {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  border-radius: 100%;
  width: 80px;
  height: 80px;
}

.box img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.div_realeza {
  width: 100%;
  height: 100%;
}

.pr {
  font-size: 30px;
  font-weight: 500;
  position: absolute;
  z-index: 5;
  width: 50%;
  margin-top: 11%;
  margin-left: 26%;
  margin-bottom: 11%;
  margin-right: 26%;
}

#Realeza {
  width: 100%;

  transition: 0.8s;
  opacity: 1;
  color: #fff;
}

#Realeza:hover {
  transition: 0.8s;
  opacity: 0.3;
  color: #fff;
}

.logo-utp {
  float: left;
  width: 150px;
  height: 150px;
  margin-bottom: 15px;
  margin-left: 15px;
  border-radius: 10px;
}

.fisc {
  float: right;
  background-color: #fff;
  width: 150px;
  height: 150px;
  margin-bottom: 15px;
  margin-right: 15px;
  border-radius: 10px;
}

.more {
  cursor: pointer;
  background-color: #ccf;
  color: var(--second-color);
  font-size: var(--p-font);
  font-weight: 600;
  padding: 10px 25px;
  margin: 0 2px;
  border-radius: 8px;
}

.more:hover {
  background: var(--main-color);
  color: var(--text-color);
}

.complete {
  display: none;
}

input.showmore {
  display: none;
}

input.showmore ~ label.more span.menos {
  display: none;
}

input.showmore:checked + .complete {
  display: block;
}

input.showmore:checked ~ label.more span.mas {
  display: none;
}

input.showmore:checked ~ label.more span.menos {
  display: inline;
}
