<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cheap Games</title>
	<link rel="stylesheet" type="text/css" href="css/styles.css">
	<link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
</head>
<body onload="ObtenerDatos()">
	<!---Principal section--->
	<div class="Principal-section" id="Principal-section">
		<header class="navbar">
			<a href="#" class="logo">CheapGames</a>
			<div class="menu-btn"></div>
			<div class="navigation">
				<div class="navigation-items">
					<a href="#home">Inicio</a>
					<a href="#games-on-sale">Ofertas</a>
					<a href="#free-games">Gratis</a>
					<a href="#coming-soon">Proximamente</a>
					<a href="#contact">Contacto</a>
				</div>
			</div>
		</header>
		<section class="home" id="home">
			<img class="img-slide active" src="img/gow-ragnarok.webp"></img>
			<img class="img-slide" src="img/spider-man_miles-morales.jpg"></img>
			<img class="img-slide" src="img/RocketLeague.jpg"></img>
			<img class="img-slide" src="img/red-dead-redemption-2.jpeg"></img>
			<img class="img-slide" src="img/modern-warfare-2.jpg"></img>
			<div class="content active">
				<h1>God of War<br><span>Ragnarok</span></h1>
				<p>Atreus busca conocimiento que lo ayude a entender la profecía de "Loki" y establecer su rol en Ragnarök. Kratos debe decidir entre quedarse atado al miedo de repetir sus errores o librarse del pasado para ser el padre que Atreus necesita.</p>
				<a href="#">Ver m&aacute;s</a>
			</div>
			<div class="content">
				<h1>Spider-Man<br><span>Miles Morales</span></h1>
				<p>El adolescente Miles Morales se adapta a su nuevo barrio al tiempo que sigue los pasos de Peter Parker, su mentor, para convertirse en un nuevo Spider-Man. Cuando la lucha de poderes amenaza con destruir su hogar, Miles debe tomar el relevo de Spider-Man y estar a la altura.</p>
				<a href="#">Ver m&aacute;s</a>
			</div>
			<div class="content">
				<h1>Rocket League<br></h1>
				<p>Rocket League combina el fútbol de estilo arcade con el caos a cuatro ruedas, unos controles fáciles y una competición fluida y basada en la física.</p>
				<a href="#">Ver m&aacute;s</a>
			</div>
			<div class="content">
				<h1>Red Dead Redemption 2<br></h1>
				<p>Con más de 175 premios al Juego del año y más de 250 valoraciones perfectas, Red Dead Redemption 2 es una historia épica sobre el honor y la lealtad en el umbral de una nueva era. Incluye Red Dead Redemption 2: Modo Historia y Red Dead Online.</p>
				<a href="#">Ver m&aacute;s</a>
			</div>
			<div class="content">
				<h1>COD<br><span>Modern Warfare 2</span></h1>
				<p>Modern Warfare II conectará con la nueva experiencia de Warzone, que elevará el género Battle Royale al siguiente nivel con una nueva área de juego y un modo de terreno de pruebas. Prepárate para un calendario abarrotado de contenido poslanzamiento con nuevos mapas, modos, eventos de temporada, celebraciones de la comunidad y mucho más.</p>
				<a href="#">Ver m&aacute;s</a>
			</div>
			<div class="slider-navigation">
				<div class="nav-btn active"></div>
				<div class="nav-btn"></div>
				<div class="nav-btn"></div>
				<div class="nav-btn"></div>
				<div class="nav-btn"></div>
			</div>
		</section>
		<script src="./script/header-script.js"></script>
	</div>

	<!---Games on sale--->
    <section class="games-on-sale" id="games-on-sale">
		<div class="carousel-swiper-slider">
			<div class="group-swiper-slider-titlebar">
				<div class="title">
					<a class="group-swiper-slider--title-link" href="">
						<h2>Juegos en Oferta<span aria-hidden="true"><i class="fa-solid fa-chevron-right"></i></span></h2>
					</a>
				</div>
				<div class="group-swiper-slider-buttons">
					<div class="option-pre-btn">
						<button class="pre-btn" type="button"><i class="fa-solid fa-circle-chevron-left"></i></button>
					</div>
					<div class="option-nxt-btn">
						<button class="nxt-btn" type="button"><i class="fa-solid fa-circle-chevron-right"></i></button>
					</div>
				</div>
			</div>
			<div class="swiper-product-container">
				<div class="game-card">
					<div class="game-image">
						<span class="discount-tag">60% off</span>
						<img src="img/card1.jpg" class="game-thumb" alt="Doom3">
						<button class="card-btn">a la lista de deseos</button>
					</div>
					<div class="game-info">
						<h2 class="game-name">DOOM 3</h2>
						<p class="game-short-description">Géneros: Acción, Terror, Retro</p>
						<span class="price">$2,79</span><span class="actual-price">$6,99</span>
					</div>
				</div>
				<div class="game-card">
					<div class="game-image">
						<span class="discount-tag">50% off</span>
						<img src="img/card2.jpg" class="game-thumb" alt="ItTakeTwo">
						<button class="card-btn">a la lista de deseos</button>
					</div>
					<div class="game-info">
						<h2 class="game-name">It Takes Two</h2>
						<p class="game-short-description">Géneros: Aventura, Plataf.</p>
						<span class="price">$19,99</span><span class="actual-price">$39,99</span>
					</div>
				</div>
				<div class="game-card">
					<div class="game-image">
						<span class="discount-tag">40% off</span>
						<img src="img/card3.jpg" class="game-thumb" alt="GodlikeBurger">
						<button class="card-btn">a la lista de deseos</button>
					</div>
					<div class="game-info">
						<h2 class="game-name">GODLIKE BURGUER</h2>
						<p class="game-short-description">Géneros: Acción, Roguelite</p>
						<span class="price">$5,99</span><span class="actual-price">$9,99</span>
					</div>
				</div>
				<div class="game-card">
					<div class="game-image">
						<span class="discount-tag">70% off</span>
						<img src="img/card4.jpg" class="game-thumb" alt="Cryofall">
						<button class="card-btn">a la lista de deseos</button>
					</div>
					<div class="game-info">
						<h2 class="game-name">CRYOFALL</h2>
						<p class="game-short-description">Géneros: Mundo abierto</p>
						<span class="price">$2,99</span><span class="actual-price">$9,99</span>
					</div>
				</div>
				<div class="game-card">
					<div class="game-image">
						<span class="discount-tag">50% off</span>
						<img src="img/card5.jpg" class="game-thumb" alt="Velone">
						<button class="card-btn">a la lista de deseos</button>
					</div>
					<div class="game-info">
						<h2 class="game-name">VELONE</h2>
						<p class="game-short-description">Géneros: Rompecabezas</p>
						<span class="price">$4,99</span><span class="actual-price">$8,99</span>
					</div>
				</div>
				<div class="game-card">
					<div class="game-image">
						<span class="discount-tag">10% off</span>
						<img src="img/card6.jpg" class="game-thumb" alt="Scorn">
						<button class="card-btn">a la lista de deseos</button>
					</div>
					<div class="game-info">
						<h2 class="game-name">Scorn</h2>
						<p class="game-short-description">Géneros: Terror, Avent.</p>
						<span class="price">$14,39</span><span class="actual-price">$15,99</span>
					</div>
				</div>
				<div class="game-card">
					<div class="game-image">
						<span class="discount-tag">70% off</span>
                    <img src="img/card7.jpg" class="game-thumb" alt="Unrailed">
						<button class="card-btn">a la lista de deseos
						</button>
					</div>
					<div class="game-info">
						<h2 class="game-name">Unrailed!</h2>
						<p class="game-short-description">Géneros: Acción, Social</p>
						<span class="price">$2,69</span><span class="actual-price">$8,99</span>
					</div>
				</div>
				<div class="game-card">
					<div class="game-image">
						<span class="discount-tag">25% off</span>
						<img src="img/card8.jpg" class="game-thumb" alt="">
						<button class="card-btn">a la lista de deseos
						</button>
					</div>
					<div class="game-info">
						<h2 class="game-name">Nero</h2>
						<p class="game-short-description">Géneros: Acción</p>
						<span class="price">$5,24</span><span class="actual-price">$6,99</span>
					</div>
				</div>
				<div class="game-card">
					<div class="game-image">
						<span class="discount-tag">70% off</span>
						<img src="img/card9.jpg" class="game-thumb" alt="">
						<button class="card-btn">a la lista de deseos
						</button>
					</div>
					<div class="game-info">
						<h2 class="game-name">Partisand 1941</h2>
						<p class="game-short-description">Géneros: Acción, Sigilo</p>
						<span class="price">$5,99</span><span class="actual-price">$19,99</span>
					</div>
				</div>
				<div class="game-card">
					<div class="game-image">
						<span class="discount-tag">40% off</span>
						<img src="img/card10.jpg" class="game-thumb" alt="">
						<button class="card-btn">a la lista de deseos
						</button>
					</div>
					<div class="game-info">
						<h2 class="game-name">Wild. Gun Mach.</h2>
						<p class="game-short-description">Géneros: Mazmorras</p>
						<span class="price">$3,59</span><span class="actual-price">$5,99</span>
					</div>
				</div>
			</div>
		</div>
		<script src="./script/swiper-script.js"></script>
	</section>

	<!---Free Games--->
    <section class="free-games" id="free-games">
		<div class="load-more-section">
			<div class="group-load-more-section-titlebar">
				<div class="title">
					<a class="group-load-more--title-link" href="">
						<h2>Juegos Gratis<span aria-hidden="true"><i class="fa-solid fa-chevron-right"></i></span></h2>
					</a>
				</div>
				<div class="group-load-more-button">
					<div class="load-more">
						<a id="load-more-btn" class="btn">Ver m&aacute;s</a>
					</div>
				</div>
			</div>
			<div class="load-more-product-container">
				<div class="game-card">
					<div class="game-image">
						<span class="discount-tag">Gratis</span>
						<img src="img/fortnite.webp" class="game-thumb" alt="">
						<button class="card-btn">a la lista de deseos</button>
					</div>
					<div class="game-info">
						<h2 class="game-name">FORTNITE</h2>
						<p class="game-short-description">Epic Games</p>
					</div>
				</div>
				<div class="game-card">
					<div class="game-image">
						<span class="discount-tag">Gratis</span>
						<img src="img/multiversus.webp" class="game-thumb" alt="">
						<button class="card-btn">a la lista de deseos</button>
					</div>
					<div class="game-info">
						<h2 class="game-name">multiversus</h2>
						<p class="game-short-description">Warner Bros. Interactive</p>
					</div>
				</div>
				<div class="game-card">
					<div class="game-image">
						<span class="discount-tag">Gratis</span>
						<img src="img/rocket.webp" class="game-thumb" alt="">
						<button class="card-btn">a la lista de deseos</button>
					</div>
					<div class="game-info">
						<h2 class="game-name">Rocket League</h2>
						<p class="game-short-description">Psyonix</p>
					</div>
				</div>
				<div class="game-card">
					<div class="game-image">
						<span class="discount-tag">Gratis</span>
						<img src="img/rumbleverse.webp" class="game-thumb" alt="">
						<button class="card-btn">a la lista de deseos</button>
					</div>
					<div class="game-info">
						<h2 class="game-name">Rumbleverse</h2>
						<p class="game-short-description">Epic Games</p>
					</div>
				</div>
				<div class="game-card">
					<div class="game-image">
						<span class="discount-tag">Gratis</span>
						<img src="img/fall.webp" class="game-thumb" alt="">
						<button class="card-btn">a la lista de deseos</button>
					</div>
					<div class="game-info">
						<h2 class="game-name">Fall Guys</h2>
						<p class="game-short-description">Epic Games</p>
					</div>
				</div>
				<div class="game-card">
					<div class="game-image">
						<span class="discount-tag">Gratis</span>
						<img src="img/rogue.webp" class="game-thumb" alt="">
						<button class="card-btn">a la lista de deseos</button>
					</div>
					<div class="game-info">
						<h2 class="game-name">Rogue Company</h2>
						<p class="game-short-description">Hi-Rez Studios</p>
					</div>
				</div>
				<div class="game-card">
					<div class="game-image">
						<span class="discount-tag">Gratis</span>
						<img src="img/destiny.webp" class="game-thumb" alt="">
						<button class="card-btn">a la lista de deseos</button>
					</div>
					<div class="game-info">
						<h2 class="game-name">Destiny 2</h2>
						<p class="game-short-description">Bungie</p>
					</div>
				</div>
				<div class="game-card">
					<div class="game-image">
						<span class="discount-tag">Gratis</span>
						<img src="img/dreams.webp" class="game-thumb" alt="">
						<button class="card-btn">a la lista de deseos</button>
					</div>
					<div class="game-info">
						<h2 class="game-name">Dreams</h2>
						<p class="game-short-description">Sony Interactive Entertainment</p>
					</div>
				</div>
			</div>
		</div>
		<script src="./script/load-more-script.js"></script>
	</section>

	<!---coming soon--->
    <section class="coming-soon" id="coming-soon">
		<div class="coming-soon-section">
			<div class="group-coming-soon-section-titlebar">
				<div class="title">
					<a class="group-coming-soon--title-link" href="">
						<h2>Proximamente<span aria-hidden="true"><i class="fa-solid fa-chevron-right"></i></span></h2>
					</a>
				</div>
			</div>
			<div id="contenedor" class="coming-soon-product-container">

			</div>
		</div>
	</section>
	
    <!---contact us--->
	<section class="contact" id="contact">
		<div class="contact-section">
			<div class="contact-text">
				<h1>Contactanos</h1>
				<h2>¿Problemas con tu compra?</h2>
				<p>La mejor manera de resolverlo es contactarnos rápidamente</p>
				<div class="contact-list">
					<li><a href="#">Costa del Este - Panam&aacute; - Panam&aacute;</a></li>
					<li><a href="#">cheapgames@gmail.com</a></li>
				</div>
				<div class="contact-icons">
					<a href="#"><i class='bx bxl-facebook' ></i></a>
					<a href="#"><i class='bx bxl-instagram' ></i></a>
					<a href="#"><i class='bx bxl-twitter' ></i></a>
				</div>
			</div>
			<div class="contact-form">
				<form action="">
					<input type="" placeholder="Ingresa tu nombre" required>
					<input type="email" placeholder="Ingresa tu correo" required>
					<input type="" placeholder="Coloca el asunto" required>
					<textarea name="" id="" cols="40" rows="10" placeholder="Ingresa tu mensaje" required></textarea>
					<input type="submit" value="Enviar" class="send">
				</form>
			</div>
		</div>
	</section>
	<script type="text/javascript" src="script/index.js"></script>
</body>
</html>